body,header,img,h1,h2,main,footer,p,div,textarea,button,label {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #eeeeee;
}


header {
	width: 100%;
	height: 200px;
	background-color: #04133d;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	display: flex;
}

#logo {
	margin: 10px;
	border-radius: 40px ;
	padding: 10px;
	float: center;
	width: 200px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(119deg) brightness(104%) contrast(102%);
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.enunciado{
	text-align: center;
}

section {
	color: #808080;
	padding: 30px;
	width: 600px;
	position: relative;
	background-color: #fff;
	text-align: center;
	box-shadow: 5px 5px 5px #808080;
;
}

section h2{
	padding: 10px;
}

section textarea{
	display: block;
	padding: 10;
	width: 100%;
	height: 150px;
	max-width: 100%;
    min-width: 100%;
    max-height: 150px;
    min-height: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

#name{
	padding-bottom: 10px;
	text-align: left;
}


section label{
	display: none;
}

::placeholder{
	color: #04133d;
}

section button{
	background-color: #1480fa;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

footer{
	background-color: #04133d;
	height: 300px;
    background-size: cover;
    background-attachment: fixed;
}